<div class="container">
    <div class="section">
        <p class="caption">Here you can create a ticket</p>
        <div class="divider"></div>
        <div id="ticket-create-page" class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <form>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="Name" id="name" type="text"
                                           ng-model="teamEditController.teamForm.name">
                                    <label for="name" class="active">Name</label>
                                </div>
                            </div>

                            <div class="row" ng-if="teamEditController.teamForm.members.length > 0">
                                <div class="input-field col s12">
                                    <ul id="members" class="collection task-card">
                                        <li ng-repeat="user in teamEditController.teamForm.members">
                                            <div class="collection-item">
                                                <div class="secondary-content">
                                                    <div class="left switch">
                                                        <label>
                                                            Leader
                                                            <input type="checkbox"
                                                                   ng-model="user.checked"
                                                                   ng-change="teamEditController.toggleLeader(user)">
                                                            <span class="lever"></span>
                                                        </label>
                                                    </div>
                                                    <button class="right btn-small waves-effect waves-light red darken-3"
                                                            ng-click="teamEditController.removeMember(user)">X
                                                    </button>
                                                </div>
                                                <span class="task-cat light-blue">{{user.firstName}} {{user.lastName}}</span>
                                                <span class="description">{{user.email}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <label for="members" class="active">Members</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <div class="input-field col s12">
                                        <input type="text" id="autocomplete-input"
                                               ng-model="teamEditController.teamForm.searchTerm"
                                               ng-change="teamEditController.search()">
                                        <label for="autocomplete-input">Add member</label>
                                        <ul class="collection task-card">
                                            <li ng-repeat="adduser in teamEditController.users">
                                                <a ng-click="teamEditController.addMember(adduser)">
                                                    <div class="collection-item">
                                                        <span class="task-cat light-blue">{{adduser.firstName}} {{adduser.lastName}}</span>
                                                        <span class="description">{{adduser.email}}</span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="submit" value="Update"
                                           class="btn waves-effect waves-light col s12 light-blue darken-3"
                                           ng-click="teamEditController.update()">
                                    </input>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>