<div class="container">
    <div class="section">
        <p class="caption">Here you can create a ticket</p>
        <div class="divider"></div>
        <div id="ticket-create-page" class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <form>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="Name" id="name" type="text"
                                           ng-model="teamCreateController.teamForm.name">
                                    <label for="name" class="active">Name</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 ">
                                    <div id="leader" class="collection-item task-card"
                                         ng-if="teamCreateController.teamForm.leader !== ''">
                                        <button class="secondary-content btn-small waves-effect waves-light red darken-3"
                                                ng-click="teamCreateController.removeLeader()">X
                                        </button>
                                        <span class="task-cat light-blue">{{teamCreateController.teamForm.leader.firstName}} {{teamCreateController.teamForm.leader.lastName}}</span>
                                        <span class="description">{{teamCreateController.teamForm.leader.email}}</span>
                                    </div>
                                    <label for="leader" class="active">Leader</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <ul id="members" class="collection task-card">
                                        <li ng-repeat="user in teamCreateController.teamForm.members">
                                            <a ng-click="teamCreateController.setLeader(user)">
                                                <div class="collection-item">
                                                    <button class="secondary-content btn-small waves-effect waves-light red darken-3"
                                                            ng-click="teamCreateController.removeMember(user)">X
                                                    </button>
                                                    <span class="task-cat light-blue">{{user.firstName}} {{user.lastName}}</span>
                                                    <span class="description">{{user.email}}</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <label for="members" class="active">Members</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <ul id="users" class="collection task-card">
                                        <li ng-repeat="user in teamCreateController.users">
                                            <a ng-click="teamCreateController.addMember(user)">
                                                <div class="collection-item">
                                                    <span class="task-cat light-blue">{{user.firstName}} {{user.lastName}}</span>
                                                    <span class="description">{{user.email}}</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <label for="users" class="active">Users</label>
                                </div>
                            </div>


                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="submit" value="Create"
                                           class="btn waves-effect waves-light col s12 light-blue darken-3"
                                           ng-click="teamCreateController.create()">
                                    </input>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>