<div class="container">
    <div class="section">
        <p class="caption">Here you can edit or delete the product</p>
        <div class="divider"></div>
        <div id="product-create-page" class="card">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <form>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="Name" id="name" type="text"
                                           ng-model="productEditController.productForm.name">
                                    <label for="name" class="active">Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="Version" id="version" type="text"
                                           ng-model="productEditController.productForm.version">
                                    <label for="version" class="active">Version</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="submit" value="Delete"
                                           class="btn waves-effect waves-light col s12 red darken-3"
                                           ng-click="productEditController.delete()">
                                    </input>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="submit" value="Update"
                                           class="btn waves-effect waves-light col s12 light-blue darken-3"
                                           ng-click="productEditController.update()">
                                    </input>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>