<div class="section">
    <p class="caption">Here you can view all log recorded</p>
    <div class="divider"></div>
    <div class="col s12">
        <div class="collection with-header task-card">
            <div class="row collection-header gradient-45deg-light-blue-cyan">
                <div class="col l6 m6 s12">
                    <h4 class="task-card-title">Records</h4>
                </div>
                <!--
                <div class="col l6 m6 s12 input-field white-input-field">
                    <input type="text" id="autocomplete-input" style="color: white"
                           class="search-input-box"
                           ng-model="recordListController.searchTerm"
                           ng-enter="recordListController.set(1)">
                    <label for="autocomplete-input" style="color: white" class="active">Search records</label>
                    <ul class="collection task-card" ng-if="recordListController.recordSearch.length > 0">
                        <li ng-repeat="record in recordListController.recordSearch ">
                            <a ng-click="">
                                <div class="collection-item">
                                    <span class="task-cat light-blue">{{record.tag}}</span>
                                    <span class="description">{{record.timestamp}}</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>-->
            </div>
            <ul class="collapsible popout">
                <li ng-repeat="record in recordListController.records">
                    <div class="row collapsible-header collection-item">
                        <span class="task-cat light-blue">{{record.tag}}</span>
                        <div class="secondary-content col s1">
                            <span class="description">{{record.timestamp | toDaysDiff}}</span>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="input-field col s12" style="border-left: 2px solid #03a9f4">
                                <p id="type">{{record.payloads[0].classType}}</p>
                                <label for="type" class="active">Payload type</label>
                            </div>
                            <div class="input-field col s12" style="border-left: 2px solid #03a9f4">
                                <div ng-if="record.payloads[0].classType === 'Target'">
                                        <div class="input-field col s4" style="border-left: 2px solid #03a9f4">
                                            <p id="target">{{record.payloads[0].json.name}}</p>
                                            <label for="target" class="active">Target</label>
                                        </div>
                                        <div class="input-field col s4" style="border-left: 2px solid #03a9f4">
                                            <p id="version">{{record.payloads[0].json.version}}</p>
                                            <label for="version" class="active">Version</label>
                                        </div>
                                </div>
                                <div ng-if="record.payloads[0].classType === 'Team'">
                                    <div class="input-field col s4" style="border-left: 2px solid #03a9f4">
                                        <p id="id">{{record.payloads[0].json.id}}</p>
                                        <label for="id" class="active">ID Team</label>
                                    </div>
                                    <div class="input-field col s4" style="border-left: 2px solid #03a9f4">
                                        <p id="mail">{{record.payloads[0].json.leader.email}}</p>
                                        <label for="mail" class="active">Leader e-mail</label>
                                    </div>
                                </div>
                                <div ng-if="record.payloads[0].classType === 'Ticket'">
                                    <div class="input-field col s4" style="border-left: 2px solid #03a9f4">
                                        <p id="title">{{record.payloads[0].json.title}}</p>
                                        <label for="title" class="active">Title</label>
                                    </div>
                                    <div class="input-field col s4" style="border-left: 2px solid #03a9f4">
                                        <p id="category">{{record.payloads[0].json.category.name}}</p>
                                        <label for="category" class="active">Category</label>
                                    </div>
                                </div>
                                <div ng-if="record.payloads[0].classType === 'User'">
                                    <div class="input-field col s4" style="border-left: 2px solid #03a9f4">
                                        <p id="name">{{record.payloads[0].json.firstName}} {{record.payloads[0].json.lastName}}</p>
                                        <label for="name" class="active">Name</label>
                                    </div>
                                    <div class="input-field col s4" style="border-left: 2px solid #03a9f4">
                                        <p id="email">{{record.payloads[0].json.email}}</p>
                                        <label for="email" class="active">Category</label>
                                    </div>
                                </div>
                                <div ng-if="record.payloads[0].classType === 'DataBaseTimeQuery'">
                                    <div class="input-field col s4" style="border-left: 2px solid #03a9f4">
                                        <p id="title">{{record.payloads[0].json.description}}</p>
                                        <label for="title" class="active">Title</label>
                                    </div>
                                    <div class="input-field col s4" style="border-left: 2px solid #03a9f4">
                                        <p id="cron">{{record.payloads[0].json.cron | toPrettyCron}}</p>
                                        <label for="cron" class="active">Schedule</label>
                                    </div>
                                </div>
                                <div ng-if="record.payloads[0].classType === 'String'">
                                    <div class="input-field col s4" style="border-left: 2px solid #03a9f4">
                                        <p id="sql">{{record.payloads[0].json}}</p>
                                        <label for="sql" class="active">SQL</label>
                                    </div>
                                </div>
                            </div>

                        <div class="row">
                            <div class="input-field col s4" style="border-left: 2px solid #03a9f4">
                                <p id="operation">{{record.operationName}}</p>
                                <label for="operation" class="active">Operation</label>
                            </div>
                            <div class="input-field col s4" style="border-left: 2px solid #03a9f4">
                                <p id="author">{{record.author}}</p>
                                <label for="author" class="active">Author</label>
                            </div>
                        </div>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <ul class="pagination">
        <li ng-repeat="i in recordListController.getPages()"
            class="{{recordListController.currentPage == i ? 'active' : 'waves-effect'}}"><a
                href="#/record/list/{{i}}">{{i}}</a>
        </li>
    </ul>
</div>