@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700%7CRubik:400,400i,500");

html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif !important;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

.avatar-status {
    position: relative;
    display: inline-block;
    line-height: 50px;
    width: 28px;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom;
}

.avatar-status img {
    width: 100%;
    max-width: 100%;
    height: auto;
    background: #e6e6e6;
    border: 0 none;
    border-radius: 1000px;
}

.margin {
    margin: 0 !important;
}

.more-text {
    padding: 5px 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#left-sidebar-nav {
    position: fixed;
    width: 100px;
    left: 180px;
    z-index: 999;
    height: auto;
}

#main {
    min-height: calc(100vh - 100px);
    padding-left: 240px
}

@media only screen and (max-width: 992px) {
    ul.sidenav.leftside-navigation {
        top: 56px !important;
    }
}

ul.sidenav.leftside-navigation {
    top: 64px;
    overflow: hidden;
    height: 100%;
}

.sidenav {
    width: 240px
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
}

h1.logo-wrapper {
    margin: 0;
}

h1 span.logo-text {
    font-size: 26px;
    padding-left: 8px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
}

footer {
    padding-left: 100px;
}

.side-nav li > a {
    padding: 0 16px;
}

.side-nav .divider {
    margin: 0;
    height: 8px;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
}

.container {
    padding: 0 0.5rem;
    margin: 0 auto;
    max-width: 100% !important;
    width: 98%;
}

.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}

footer {
    padding-left: 240px;
}

.opened {
    display: block;
}

/*----------------------------------------
    Inputs
------------------------------------------*/

.input-field input:focus + label {
    color: #03a9f4 !important;
}

.input-field input:focus {
    border-bottom: 1px solid #03a9f4 !important;
    box-shadow: 0 1px 0 0 #03a9f4 !important;
}

.input-field textarea:focus + label {
    color: #03a9f4 !important;
}

.input-field textarea:focus {
    border-bottom: 1px solid #03a9f4 !important;
    box-shadow: 0 1px 0 0 #03a9f4 !important;
}

.input-field .prefix.active {
    color: #2196F3 !important;
}

.white-input-field input:focus + label {
    color: #ffffff !important;
}

.white-input-field input:focus {
    border-bottom: 1px solid #ffffff !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
}

.white-input-field textarea:focus + label {
    color: #ffffff !important;
}

.white-input-field textarea:focus {
    border-bottom: 1px solid #ffffff !important;
    box-shadow: 0 1px 0 0 #ffffff !important;
}

.white-input-field .prefix.active {
    color: #ffffff !important;
}

.gradient-45deg-light-blue-cyan {
    background: #0288d1;
    background: -webkit-linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
    background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
}

.task-card .task-card-title {
    margin: 0;
    color: #fff;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

p {
    font-family: "Roboto", sans-serif;
}

.task-card .task-card-date {
    font-size: 1.0rem;
    margin: 0;
    color: #fff;
}

.task-card .collection-header {
    padding: 20px;
}

.task-card .task-cat {
    padding: 2px 4px;
    color: #fff;
    font-weight: 300;
    font-size: 1.0rem;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
}

.secondary-content {
    float: right;
!important;
}

.collection-item .description {
    display: block;
    color: rgba(0, 0, 0, 0.87);
    height: auto;

    font-weight: 300;
    font-size: 0.9rem;
}

.collection-item:hover {
    background-color: #EEEEEE;
}

.pagination li.active {
    background-color: #03a9f4;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active, .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
    background-color: #03a9f4;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #03a9f4;
}

.search-input-box {
    border-bottom: 0 !important;
    width: 100% !important;
    box-sizing: border-box !important;
    border-radius: 4px !important;
    font-size: 16px !important;
    background-color: rgba(255, 255, 255, .4) !important;
}

.textarea-description {
    height: 400px !important;
    resize: none !important;
    border: 1px solid transparent !important;
    -moz-border-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 5%, rgb(230, 230, 230) 20%) !important;
    -webkit-border-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 5%, rgb(230, 230, 230) 20%) !important;
    border-image-slice: 1 !important;
    overflow-y: scroll !important;
}

.span-description {
    font-weight: lighter;
    color: black;
    display: block;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.query-details {

    background: #e0f7fa;

}

.query-details textarea {

    padding-top: 18px;

}

