<div class="container">
    <div class="row">
        <!-- Custom query card -->
        <div class="col l6 m6 s12">
            <div class="card hoverable"
                 ng-click="queryTypeController.setQueryType('DATA_BASE_INSTANT_CHECK', '#/query/create/tree_path/table/list')">
                <div class="container">
                    <div class="card-image">
                        <img src="assets/img/instant_check_db_icon.png">
                    </div>
                </div>
                <div class="card-content">
                    <span class="card-title">Instant check</span>
                    <p>Check periodically a table and compare result with a value.</p>
                    <p>Open a ticket if comparison is verified</p>
                </div>
            </div>
        </div>
        <!-- DB query card -->
        <div class="col l6 m6 s12">
            <div class="card hoverable"
                 ng-click="queryTypeController.setQueryType('DATA_BASE_TABLE_MONITOR', '#/query/create/tree_path/table/list')">
                <div class="container">
                    <div class="card-image">
                        <img src="assets/img/monitor_db_icon.png">
                    </div>
                </div>
                <div class="card-content">
                    <span class="card-title">Monitor</span>
                    <p>Check periodically a table and compare result with the difference between last result and
                        previous one.
                        Open a ticket if comparison id verified</p>
                </div>
            </div>
        </div>
    </div>
</div>