<div class="section">
    <p class="caption">Here you can view all opened tickets</p>
    <div class="divider"></div>
    <div class="col s12">
        <ul id="task-card" class="collection with-header">
            <li class="collection-header gradient-45deg-light-blue-cyan">
                <h4 class="task-card-title">My tickets</h4>
            </li>
            <li ng-repeat="ticket in ticketListController.tickets">
                <a href="#/ticket/edit/{{ticket.id}}">
                    <div class="collection-item">
                        <span class="secondary-content description">{{ticket.creationTimestamp | toDaysDiff}}</span>
                        <span class="task-cat light-blue">{{ticket.title}}</span>
                        <span class="description">{{ticket.description}}</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <ul class="pagination">
        <li ng-repeat="i in ticketListController.getPages()"
            class="{{ticketListController.currentPage == i ? 'active' : 'waves-effect'}}"><a href="#/ticket/list/{{i}}">{{i}}</a>
        </li>
    </ul>
</div>
