<div class="section">
    <p class="caption">Here you can view all teams</p>
    <div class="divider"></div>
    <div class="col s12">
        <ul class="collection with-header task-card">
            <li class="collection-header gradient-45deg-light-blue-cyan">
                <h4 class="task-card-title">My Teams</h4>
            </li>

            <ul class="collapsible popout">
                <li ng-repeat="team in teamListController.teams">
                    <div class="collapsible-header">
                        <span class="task-cat light-blue">{{team.name}}</span>
                    </div>
                    <div class="collapsible-body">
                        <span ng-repeat="member in team.members">
                            <span>{{member.firstName}} {{member.lastName}}</span>
                        </span>
                        <!--<a href="#/team/edit/{{team.id}}">Edit</a>-->
                    </div>
                </li>
            </ul>
        </ul>
    </div>
    <ul class="pagination">
        <li ng-repeat="i in teamListController.getPages()"
            class="{{teamListController.currentPage == i ? 'active' : 'waves-effect'}}"><a href="#/team/list/{{i}}">{{i}}</a>
        </li>
    </ul>
</div>
