<div class="section">
    <p class="caption">Here you can view all opened tickets</p>
    <div class="divider"></div>
    <div class="col s12">
        <ul class="collection with-header task-card">
            <div class="row collection-header gradient-45deg-light-blue-cyan">
                <div class="col l6 m6 s12">
                    <h4 class="task-card-title">My tickets</h4>
                </div>
                <div class="col l6 m6 s12 input-field white-input-field">
                    <input type="text" id="autocomplete-input" style="color: white"
                           class="search-input-box"
                           ng-model="ticketListController.searchTerm"
                           ng-enter="ticketListController.set(1)">
                    <label for="autocomplete-input" style="color: white" class="active">Search ticket</label>
                    <ul class="collection task-card" ng-if="ticketListController.ticketSearch.length > 0">
                        <li ng-repeat="t in ticketListController.ticketSearch ">
                            <a ng-click="">
                                <div class="collection-item">
                                    <span class="task-cat light-blue">{{t.title}}</span>
                                    <span class="description">{{t.priority}}</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="collapsible popout">
                <li ng-repeat="ticket in ticketListController.tickets">
                    <div class="collapsible-header">
                        <span class="task-cat light-blue">{{ticket.title}}</span>
                    </div>
                    <div class="collapsible-body">
                        <span>Description: {{ticket.description}}</span>
                        <br><br>
                        <span>Status: {{ticket.status.name}}</span>
                        <br><br>
                        <span>{{ticket.creationTimestamp | toDaysDiff}}</span>
                        <br><br>
                        <a href="#/ticket/edit/{{ticket.id}}">Edit</a>
                    </div>
                </li>
            </ul>
        </ul>
    </div>
    <ul class="pagination">
        <li ng-repeat="i in ticketListController.getPages()"
            class="{{ticketListController.currentPage == i ? 'active' : 'waves-effect'}}"><a
                href="#/ticket/list/{{i}}/{{ticketListController.searchTerm}}">{{i}}</a>
        </li>
    </ul>
</div>
